@charset "UTF-8";
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* styles for all media type screen: 
 * page structure */
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
@media handheld, screen {
  body, html {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  body {
    overflow: auto;
    background-color: #5a5a5a;
    transition: all 2000ms ease-in-out 0s;
  }

  /* animations, interaction */
  nav.back a:link, nav.back a:visited {
    transition: all 250ms ease-in-out 0s;
  }
  nav.back a:link span, nav.back a:visited span {
    transition: all 250ms ease-in-out 0s;
  }

  /* backlink */
  nav.back {
    height: 30px;
    width: 100%;
    background: #040404 url(../../img/bg_back.gif) repeat-x 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
  nav.back a:link, nav.back a:visited, nav.back span {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    /* sg: 27pt  */
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
  }
  nav.back a:link, nav.back a:visited {
    display: block;
    height: 30px;
    padding: .4em 0 0 10px;
  }
  nav.back a:link span:before, nav.back a:visited span:before {
    content: "<< ";
  }

  /* config buttons */
  nav#config {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 25;
    display: inline-block;
    text-align: right;
  }
  nav#config li {
    border-right: 1px solid gray;
  }
  nav#config li:first-child, nav#config li:last-child {
    border-right-width: 0px;
  }
  nav#config a#config_switch {
    position: absolute;
    bottom: -16px;
    right: 6px;
    font-size: 9px;
    text-align: right;
    color: #cccccc;
  }
  nav#config a#config_switch:hover,
  nav#config a#config_switch:focus,
  nav#config a#config_switch:active {
    color: #fff;
  }
  nav#config ul, nav#config li {
    float: right;
    font-size: 9pt;
    padding: .3em .6em .3em;
    line-height: 100%;
  }
  nav#config ul a:link, nav#config ul a:visited, nav#config li a:link, nav#config li a:visited {
    color: gray;
    font-size: 9pt;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav#config ul a:hover, nav#config ul a:active, nav#config ul a:focus, nav#config li a:hover, nav#config li a:active, nav#config li a:focus {
    color: #fff;
  }
  nav#config ul a:hover span, nav#config ul a:active span, nav#config ul a:focus span, nav#config li a:hover span, nav#config li a:active span, nav#config li a:focus span {
    color: #fff;
  }
  nav#config ul {
    padding-top: .5em;
    padding-right: 0;
  }

  /* overview */
  #overview {
    background-color: #5a5a5a;
  }
  #overview nav.back a:link, #overview nav.back a:visited {
    cursor: default;
  }
  #overview .scrollview {
    position: relative;
    top: 110px;
    left: 0;
    max-width: 100%;
    width: 100%;
    overflow: auto;
    min-height: 90%;
    z-index: 10;
    white-space: nowrap;
  }
  #overview .col {
    float: left;
    display: inline-block;
    position: relative;
    top: 0;
    margin-right: 10px;
    margin-left: 10px;
                   /* laut Aufgabenstellung sollen nur die Größenangaben der Gestaltungsvorgaben halbiert werden,
die 20px Abstand sind jedoch als Anforderung explizit benannt */
    white-space: normal;
  }
  #overview .main {
    width: 760px;
    white-space: nowrap;
  }
  #overview .main_title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    width: 100%;
    z-index: 15;
  }
  #overview h1 {
    color: #cccccc;
    text-transform: none;
    font-size: 24pt;
    line-height: 90%;
    padding: 20px 8px 0;
    /*Ausgleich letterspacing des Webfonts*/
    height: 80px;
    box-sizing: border-box;
    background-color: rgba(90, 90, 90, 0.5);
  }

  /* detail */
  #detail {
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
  }
  #detail .box .inner {
    margin: 0;
  }
  #detail .wrapper {
    position: relative;
    height: 100%;
  }
  #detail nav#config {
    display: none;
  }
  #detail article {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    top: 30px;
    overflow: auto;
    border-bottom: 30px solid #fff;
  }
  #detail nav.back {
    display: inline-block;
  }
  #detail nav.back a:hover, #detail nav.back a:active, #detail nav.back a:focus {
    color: #fff;
  }
  #detail nav.back a:hover span, #detail nav.back a:active span, #detail nav.back a:focus span {
    color: #fff;
  }
  #detail .obj, #detail .media_link {
    display: none;
  }
  #detail .col {
    padding: 0 10px;
  }
  #detail h1 {
    color: #3fa9f5;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: bold;
    margin: 0 10px 0;
    padding: 10px 0 15px;
    border-bottom: 1px dashed #3fa9f5;
  }
  #detail h2 {
    display: none;
  }

  article {
    /*visibility: visible;*/
    opacity: 1;
  }

  article.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 2s, opacity 2s ease-in;
  }

  article.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s ease-out 0.1s, visibility 0s linear;
  }

  .view {
    transition: all 2000ms ease-in-out 0s;
    opacity: 1;
  }
}
/* fuer den IPhone Preview */
@media only screen and (height: 568px) {
  #overview .scrollview {
    min-height: 456px;
  }
}
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
  end of structure.scss
  + + + + + + + + + + + + + + + + + + + + + + + + + + + */
